/* Este es el nuevo archivo del footer. */

.footer {
  position: relative;
  box-sizing: border-box;
  background-color: #0a2850;
  /* background-image: url("../images/background_header.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #ffffff;

  padding: 60px 100px;
}

/* Aqui, fue mi idea para añadir el circulo de color azul, no estoy seguro si es la mejor manera */
.footer::before {
  content: "";
  position: absolute;
  width: 410px;
  height: 400px;
  border-radius: 50%;
  background-color: #2f80ed;

  top: -170px;
  left: -32px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}

.footer__column {
  display: flex;
  justify-content: space-between;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin-top: 0;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin-left: auto;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #ffffff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin: 100px 0 0 0;
}
