.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-top: 183px;
  margin-bottom: 0;
  margin-left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin: auto 80px 40px;
}

.header__schedule {
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__paragraph_position_right {
  align-self: end;
}
